@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

.button {
    border: 0;
    background-color: #6861F2;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    border-radius: 10px;
    height: 35px;
    width: 200px;
    margin-top: 10px;
}