.ablauf{
    overflow: hidden;
}

.ablauf__header{
    color: #192435;
    font-size: 30px;
    line-height: 116%;
    letter-spacing: -0.03em;
    text-align: center;
    margin: 150px 0 0 0;
}
.ablauf__container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (min-width: 1024px) {
        margin: 0 20px;
        justify-content: flex-start;
        align-items: flex-start;
    }
    @media (min-width: 1550px) {
        margin: 0 122px;
        justify-content: center;
        align-items: center;
    }
}

.ablauf__tilesContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 10px 0 10px;
    @media (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        max-width: 748px;
    }
    @media (min-width: 1024px) {
        max-width: none;
        width: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 0;
        justify-content: flex-start;
    }
    @media (min-width: 1550px) {
        max-width: 1325px;
    }
}

.ablauf__tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #017737;
    border-radius: 12px;
    gap: 18px;
    padding: 20px;
    max-width: 257px;
    margin: 20px 0 0 0;
    @media (min-width: 768px) {
        margin: 0;
    }
    @media (min-width: 1024px) {
        flex-direction: row;
        max-width: 500px;
        margin: 20px 0 0 0;
    }
}

.ablauf__tile:nth-child(even){
    @media (min-width: 1024px) {
        margin: 20px 0 0 auto;   
    }
}

.ablauf__side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
}

.ablauf__textContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

.ablauf__number{
    color: #FFFFFF;
    margin: 0;
    font-size: 15px;
    background-color: rgba($color: #FFFFFF, $alpha: 0.05);
    border-radius: 50%;
    height: 26px;
    width: 26px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 22px;
    letter-spacing: -0.03em;
}

.ablauf__text{
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 155%;
    margin: 0;
}

.ablauf__button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8.86px 0px;
    gap: 8.86px;
    font-family: 'Inter', sans-serif;
    border: none;
    background-color: #E1DFFC;
    border-radius: 8.86px;
    color: #6881F2;
    font-weight: 500;
    font-size: 12.4px;
    line-height: 19px;
    @media (min-width: 1024px) {
        margin: 30px 0 0 0;
    }
}

.ablauf__noButton{
    display: none;
    @media (min-width: 1300px) {
       display: inline; 
    }
}

.ablauf__arrow1{
    display: none;
    @media (min-width: 1300px) {
        display: inline; 
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 15%;
    }
}

.ablauf__arrow2{
    display: none;
    @media (min-width: 1300px) {
        display: inline; 
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 45%;
    }
}

.ablauf__arrow3{
    display: none;
    @media (min-width: 1300px) {
        display: inline; 
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 70%;
    }
}

.ablauf__vectorRight{
    display: none;
    @media (min-width: 1024px) {
        display: inline;
        position: absolute;
        right: -20px;
        top: -10px;
    }
    @media (min-width: 1550px) {
        right: -122px;
    }
}

.ablauf__circlesImg{
    display: none;
    @media (min-width: 1024px) {
        display: inline;
        position: absolute;
        bottom: -250px;
        left: -122px;
    }
}
