.ablauf{
    height: 175vh;
    overflow: hidden;
}

.ablauf__header{
    color: #192435;
    font-size: 40px;
    line-height: 116%;
    letter-spacing: -0.03em;
    text-align: center;
    margin-top: 209px;
    margin-bottom: 0;
}
.ablauf__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ablauf__tilesContainer{
    margin-top: 112.45px;
    width: 1195.87px;
    height: 830.12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ablauf__tile1 {
    display: flex;
    align-items: center;
    background-color: #017737;
    border-radius: 12px;
    width: 484.87px;
    height: 205.87px;
    gap: 18px;
}

.ablauf__tile2 {
    background-color: #017737;
    border-radius: 10px;
    display: flex;
    width: 500px;
    padding-right: 20px;
    position: relative;
    left: 55vw;
}

.ablauf__tile3 {
    background-color: #017737;
    border-radius: 10px;
    display: flex;
    width: 450px;
    position: relative;
    left: 7vw;
}

.ablauf__tile4 {
    background-color: #017737;
    border-radius: 10px;
    display: flex;
    width: 560px;
    padding-right: 20px;
    position: relative;
    left: 52vw;
}

.ablauf__side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    gap: 10px;
    height: 160px;
}

.ablauf__textContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 5px;
}

.ablauf__number{
    color: #FFFFFF;
    margin: 0;
    font-size: 15px;
    background-color: rgba($color: #FFFFFF, $alpha: 0.05);
    border-radius: 50%;
    height: 26px;
    width: 26px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 22px;
    letter-spacing: -0.03em;
}

.ablauf__text{
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 155%;
}

.ablauf__button{
    width: 137px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8.86px 0px;
    gap: 8.86px;
    font-family: inherit;
    border: none;
    background-color: #E1DFFC;
    border-radius: 8.86px;
    color: #6881F2;
    font-weight: 500;
    font-size: 12.4px;
    line-height: 19px;
}

.ablauf__noButton{
    display: none;
}

.ablauf__arrow1{
    position: relative;
    left: 650px;
    top: -900px;
}

.ablauf__arrow2{
    position: relative;
    left: 470px;
    top: -700px;
}

.ablauf__arrow3{
    position: relative;
    left: 300px;
    top: -500px;
}

.ablauf__vectorRight{
    position: relative;
    left: 930px;
    top: -900px;
}

.ablauf__circlesImg{
    position: relative;
    left: -600px;
}
