.UnsereImgs{
    &__1{
        border-radius: 50px;
    position: relative;
    bottom: 450px;
    }
    &__2{
        border-radius: 50px;
    position: relative;
    right: 180px;
    bottom: 50px;
    }
    &__3{
        border-radius: 50px;
    position: relative;
    left: 450px;
    top: 220px;
    }
}