.img1{
    border-radius: 50px;
    position: relative;
    bottom: 450px;
}

.img2{
    border-radius: 50px;
    position: relative;
    right: 180px;
    bottom: 50px;
}
 .img3{
    border-radius: 50px;
    position: relative;
    left: 450px;
    top: 220px;
 }