.referenzen{
    width: 100%;
    background: radial-gradient(87.16% 87.16% at 50% 48.28%, #D7F9D3 0%, #7BF3B2 100%);
    position: relative;
    margin: 30px 0 0 0;
    @media (min-width: 768px) {
        margin: 0;
    }

}

.referenzen__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.referenzen__headText{
    font-size: 40px;
    line-height: 116%;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    margin: 20px 0 0 0;
}

.referenzen__innerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    @media (min-width: 1024px) {
        flex-direction: row;
    }
}

.referenzen__image{
    border-radius: 20px;
    position: relative;
    @media (min-width: 1024px) {
        left: 70px;
    }
}

.referenzen__image > img{
    width: 250px;
    @media (min-width: 1024px) {
        margin: 20px 0 0 0;
    }
}

.referenzen__quote{
    position: relative;
    top: 100px;
    left: 25%;
    @media (min-width: 1024px) {
        top: -130px;
        left: 15%;
    }
}

.referenzen__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    z-index: 5;
    margin: 0 20px;
    max-width: 500px;
    @media (min-width: 1024px) {
        max-width: 400px;
    }
}

.referenzen__h1{
    font-size: 34px;
    line-height: 135%;
    color: #017737;
    font-weight: 600;
    margin: 0;
}

.referenzen__p{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 149.5%;
    color: #353535;
    opacity: 0.6;
    margin: 10px 0 0 0;
}

.referenzen__button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 30px;
    gap: 10px;
    background-color: #6861F2;
    border-radius: 10px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    margin: 20px 0 0 0;
}

.referenzen__arrowLeft{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    height: 56px;
    width: 56px;
    background-color: rgba($color: #FFFFFF, $alpha: 0.2);
    position: absolute;
    top: 420px;
    left: 50%;
    transform: translateX(-120%);
    @media (min-width: 1024px) {
        left: 30px;
        top: 250px;
        transform: none;
    }
}

.referenzen__arrowRight{
    height: 56px;
    width: 56px;
    background-color: #FFFFFF;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 420px;
    right: 50%;
    transform: translateX(120%);
    @media (min-width: 1024px) {
        right: 30px;
        top: 250px;
        transform: none;
    }
}