.wrapper {
    background-color: #D7F9D3;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
}

.innerWrapper{
    height: auto;
    flex-direction: column;
}

.vectorLeft{
    height: 300px;
    width: 300px;
    position: absolute;
    top: 400px;
    left: 100px;
}

.vectorRight{
    height: 300px;
    width: 300px;
    position: absolute;
    right: 10px;
    top: 66.3vh;
}