.UnsereService {
    background-color: #D7F9D3;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
}

.UnsereService__wrapper__vectorLeft{
    height: 300px;
    width: 300px;
    position: absolute;
    top: 400px;
    left: 100px;
}

.UnsereService__wrapper__vectorRight{
    height: 300px;
    width: 300px;
    position: absolute;
    right: 10px;
    top: 66.3vh;
}

.UnsereService__wrapper__main{
    height: auto;
    flex-direction: column;
}