.header {
    margin: 0;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    background-color: #FFFFFF;
    z-index: 100;
}

.header__container{
    height: 72px;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    width: 95%;
    justify-content: space-between;
    @media (min-width: 768px) {
        
    }
    @media (min-width: 1024px) {
        
    }
    @media (min-width: 1440px) {
        width: 80%;
    }
}

.header__logo{
    font-weight: 600;
    font-size: 16px;
    line-height: 116%;
    letter-spacing: -0.03em;
    color: #017737;
    @media (min-width: 1024px) {
        font-size: 22px;
    }
}

.header__menu{
    display: none;
    align-items: center;
    justify-content: center;
    @media (min-width: 768px) {
        display: flex;
        font-size: 12px;
        gap: 16px;
    }
    @media (min-width: 1024px) {
        gap: 22px;
        font-size: 12px;
    }
    @media (min-width: 1440px) {
        width: 60%;
        gap: 56px;
        font-size: 14px;
    }
    @media (min-width: 2560px) {
        gap: 150px;
        font-size: 18px;
    }
}

.header__linksContainer{
    position: relative;
    right: 15%;
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.header__link{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 17px;
    opacity: 0.7;
    text-decoration: none;
    color: #626262;
}

.header__button{
    display: none;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #6861F2;
    border: none;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    @media (min-width: 768px) {
        display: flex;
        height: 30px;
        width: 150px;
        font-size: 12px;
    }
    @media (min-width: 1024px) {
        height: 40px;
        width: 200px;
    }
}

.hamburger__logo{
    font-weight: 600;
    font-size: 30px;
    line-height: 116%;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

.header__hamburger{
    background: #017737;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 0;
}

.hamburger__burgerButton{
    position: fixed;
    width: 36px;
    height: 24px;
    top: 22.5px;
    right: 2.5%;
    @media (min-width: 768px) {
        display: none;
    }
}

.hamburger__burgerBar{
    background: #017737;
}

.hamburger__crossButton{
    height: 36px;
    width: 36px;
}

.hamburger__cross{
    background: #FFFFFF;
}

.hamburger__item{
    text-decoration: none;
    color: #FFFFFF;
    width: 200px;
    padding: 10px;
    margin: 0 0 20px 0;
    font-size: 20px;
    background: rgba($color: #FFFFFF, $alpha: 0.2);
    border-radius: 15px;
}

.hamburger__itemList{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hamburger__button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: rgba($color: #FFFFFF, $alpha: 0.2);
    border: solid #6861F2;
    border-radius: 15px;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    width: 220px;
    height: 50px;
    padding: 10px;
}