.header {
    display: flex;
    margin: 0;
    text-align: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    z-index: 10000;

    &__button{
        color: #FFFFFF;
        background-color: #6861F2;
        height: 30px;
        width: 220px;
        border: none;
        border-radius: 10px;
        position: relative;
        top: 12px;
        font-family: inherit;

        &:hover{
            background-color: #4b46ad;
        }
    }

    &__links{
        width: 45vw;
    }
}