.NavLinks{
    margin-top: 18px;
    display: flex;

    &__link{
        text-decoration: none;
        color: #626262;
        font-size: .8em;
        justify-content: space-between;
        width: 10vw;
    }
}