.mehrAbs{
    height: 70vh;
    margin-bottom: 20px;
}

.mehrAbs__container{
    width: 55vw;
    height: 30vh;
    display: flex;
    position: relative;
    left: 20vw;
    top: 15vh;
}

.mehrAbs__text{
    font-size: 35px;
    font-weight: 600;
    color: #192435;
}

span{
   color: #6861F2; 
}