.uber{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 10px 0 0 0;
    overflow: hidden;
    width: 100%;
}

.uber__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 35px;
    width: 100%;
    @media (min-width: 1024px) {
        flex-direction: row;
    }
}

.uber__textContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 19px;
}

.uber__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 13px;
    margin: 0 20px;
    max-width: 485px;
}

.uber__h1{
    font-style: normal;
    font-weight: 600;
    margin: 0;
    font-size: 38px;
    line-height: 60px;
    text-align: center;
    color: #192435;
}

.uber__p{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 149.5%;
    text-align: center;
    color: #353535;
    opacity: 0.8;
    margin: 0;
}

.uber__icons > img{
    width: 100%;
}