.buche{
    margin: 50px 0 0 0;
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (min-width: 768px) {
        background-image: url(../../Images/Buche/background.png);
    }
}

.buche__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    gap: 10px;
    @media (min-width: 768px) {
        border-radius: 20px;
        padding: 20px;
        margin: 10px 0;
    }
    @media (min-width: 1024px) {
        margin: 100px 0;
        position: relative;
        left: 200px;
    }
    @media (min-width: 1440px) {
        padding: 40px;
        left: 300px;
    }
}

.buche__innerContainer{
    display: flex;
    flex-direction: column;
    flex: content;
    align-items: center;
    padding: 0;
    gap: 20px;
    max-width: 305px;
    @media (min-width: 768px) {
        max-width: 500px;
    }
    @media (min-width: 1024px) {
        align-items: flex-start;
    }
}

.buche__h1{
    font-size: 30px;
    color: #192435;
    font-weight: 600;
    letter-spacing: -0.03em;
    line-height: 116%;
    margin: 0px;
    @media (min-width: 1440px) {
        font-size: 40px;
    }
}

.buche__h2{
    font-size: 14px;
    color: #000000;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    line-height: 149.5%;
    opacity: 0.6;
    @media (min-width: 1440px) {
        font-size: 18px;
    }
}

.buche__list{
    list-style-type: "✔ ";
    font-size: 18px;
    color: #000000;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    line-height: 149.5%;
    opacity: 0.6;
    margin: 0 0 0 -10px;
}

.buche__listItem{
    font-weight: 400;
    font-size: 14px;
    line-height: 158%;
}

.buche__buttonContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 10px;
    @media (min-width: 768px) {
        flex-direction: row;
    }
}

.buche__buttonLeft{
    display: flex;
    align-items: center;
    padding: 14px 30px;
    gap: 10px;
    background-color: #6861F1;
    border-radius: 10px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 157%;
    text-align: center;
    color: #FFFFFF;
}

.buche__buttonRight{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 30px;
    gap: 10px;
    background-color: #E1DFFC;
    border-radius: 10px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 157%;
    text-align: center;
    color: #6861F1;
}