.mehrKund{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
}

.mehrKund__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1216px;
}

.mehrKund__tilesContainer{
    display: flex;
    text-align: left;
    align-items: flex-start;
    justify-content: space-between;
    margin: 80px 0 0 0;
    gap: 40px;
}

.mehrKund__tile12{
    font-size: 20px;
    color: #192435;
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

.mehrKund__tile3{
    font-size: 20px;
    color: #192435;
    width: 286px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

.mehrKund__tile4{
    font-size: 20px;
    color: #192435;
    width: 270px;
    height: 201px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

.mehrKund__img{
    height: 82px;
    width: 82px;
    margin: 0 0 30px 0;
}

.mehrKund__tileHeader1{
    width: 252px;
    height: 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    margin: 0 0 7px;
}

.mehrKund__tileHeader2{
    width: 262px;
    height: 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    margin: 0 0 7px;
}

.mehrKund__tileHeader3{
    width: 286px;
    height: 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    margin: 0 0 7px;
}

.mehrKund__tileHeader4{
    width: 160px;
    height: 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    margin: 0 0 7px;
}

.mehrKund__tilep{
    width: 270px;
    height: 78px;
    font-family: "Inter", sans-serif;
    font-weight: 500px;
    font-size: 16px;
    line-height: 160%;
    color: #353535;
    opacity: 0.6;
    margin: 0;
}

.mehrKund__textContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 590px;
    height: 126px;
}

.mehrKund__h1{
    font-size: 40px;
    color: #192436;
    font-weight: 600;
    margin: 0;
    line-height: 116%;
    letter-spacing: -0.03em;
    width: 479px;
    height: 46px;
}

.mehrKund__h2{
    font-size: 20px;
    color: #353535;
    font-weight: 400;
    width: 590px;
    margin-top: 20px;
    margin-bottom: 0;
    font-family: 'Inter', sans-serif;
    line-height: 149.5%;
    opacity: 0.6;
}