.mehrKund{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
}

.mehrKund__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mehrKund__tilesContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 80px 0 0 0;
    gap: 40px;
    @media (min-width: 1024px) {
        flex-direction: row;
        margin: 80px 40px 0 40px;
    }
}

.mehrKund__tile{
    font-size: 20px;
    color: #192435;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0 20px;
    @media (min-width: 1024px) {
        align-items: flex-start;
        text-align: left;
    }
}

.mehrKund__img{
    height: 82px;
    width: 82px;
    margin: 0 0 30px 0;
}

.mehrKund__tileHeader{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    margin: 0 0 7px;
}

.mehrKund__tilep{
    font-family: "Inter", sans-serif;
    font-weight: 500px;
    font-size: 16px;
    line-height: 160%;
    color: #353535;
    opacity: 0.6;
    margin: 0;
}

.mehrKund__textContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    @media (min-width: 768px) {
        margin: 0 100px;
    }
    @media (min-width: 1024px) {
        margin: 0 200px;
    }
}

.mehrKund__h1{
    font-size: 32px;
    color: #192436;
    font-weight: 600;
    margin: 0;
    line-height: 116%;
    letter-spacing: -0.03em;
    @media (min-width: 768px) {
        font-size: 40px;
    }
}

.mehrKund__h2{
    font-size: 16px;
    color: #353535;
    font-weight: 400;
    margin: 10px 0 0 0;
    font-family: 'Inter', sans-serif;
    line-height: 149.5%;
    opacity: 0.6;
    @media (min-width: 768px) {
        font-size: 20px;
    }
}