.form1{
    background-color: #088341;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form1__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

.form1__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
}

.form1__header{
    font-style: normal;
    font-family: 600;
    font-size: 30px;
    line-height: 60px;
    color: #FFFFFF;
    margin: 0;
}

.form1__paragraph{
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
    opacity: 0.8;
}

.form1__formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0 0 0;
    padding: 30px;
    background-color: #FFFFFF;
    border-radius: 30px;
    width: 80%;
}

.form1__label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    text-align: center;
    color: #6861F2;
    gap: 16px;
    width: 100%;
}

.form1__formItem{
    box-sizing: border-box;
    width: 100%;
    height: 62px;
    background-color: rgba($color: #E1DFFC, $alpha: 0.4);
    border: 2px solid rgba($color: #9A96F6, $alpha: 0.5);
    border-radius: 10px;
    width: 100%;
    font-family: inherit;
    color: #9A96F6;
    font-size: 20px;
}