@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900i&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}